.root {
  --main-container-padding: 1rem;
  display: grid;
  grid-template-areas: "aside main";
  grid-template-columns: 20rem 1fr;
  min-height: calc(100vh - var(--app-header-height));
  max-height: calc(100vh - var(--app-header-height));
  width: 100%;
  height: calc(100vh - var(--app-header-height));
  max-width: 100%;
  overflow: hidden;
}

@media (max-height: 800px) {
  .root {
    --main-container-padding: 0.6rem;
  }
}

.sideBarContainer {
  grid-area: aside;
  /* border-right: solid 1px var(--default-border-color); */
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  gap: 0.2rem;
}

.mainContainer {
  grid-area: main;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: var(--main-container-padding);
  max-height: calc(100vh - var(--app-header-height));
}